
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd ;
    position: relative;
   background-image: url(./image/ppp.jpg);
   

}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    
      
}



nav ul li {
    display: inline-block;
    list-style:georgian;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(0, 4, 255);
    
    
}

.intro{
    margin-left: 8%;
    margin-top: 15%;
}

.intro h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: rgb(0, 174, 255);
    
}

.intro p{
    color: #555;
    line-height: 22px;
}

.intro a{
    background:orange;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 50%;
    height: 60%;
    position: absolute;
    background-color: aqua;
    border-radius: 71% 29% 100% 0% / 80% 100% 0% 20% ;
    top: 30%;
   /* clip-path: circle();*/
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .girl{
    left: 45%;
}

.social{
    margin-left: 8%;
    margin-top: 100px;
}

.social a{
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}

.social a:hover{
    color: orange;
}
/*.social h1{
   
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: orange;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}*/
